In [1]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [2]:
age=30
print("MY AGE IS:",age)

MY AGE IS: 30

In [3]:
##f string, formatting
print(f"My age is :{age}")

My age is :30

In [6]:
##format()
name="Krish"
age=32
print("MY name IS {} and age is {}".format(name,age))

MY name IS Krish and age is 32

In [ ]:
print("MY name IS {} and age is {}".format(age,name))

In [9]:
##placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

My name is Krish and age is 32

In [10]:
name="Abdul Subhan"
age=18
deg='B.Tech'
print("My Name is: {} aged {} and completed my degree: {}".format(name,age,deg))

My Name is: Abdul Subhan aged 18 and completed my degree: B.Tech

In [11]:
print(f"My name is {name}, age is {age} and completed my degree {deg}")

My name is Abdul Subhan, age is 18 and completed my degree B.Tech

##CONTROL FLOW

In [12]:
#DECISION MAKING STATEMENTS
age=18
if age>=18:
    print("YOU ARE ELIGIBLE TO VOTE")

YOU ARE ELIGIBLE TO VOTE

In [13]:
17<18

True

In [16]:
x=input("Enter the name")
age=int(input("Enter ur age"))

Enter the name subhan
Enter ur age 18

In [17]:
name

'Abdul Subhan'

In [18]:
x

'subhan'

In [23]:
x=int(input("Enter the age of the user"))
if x>=18 and x <=32:
    print("young bloood ho")
else: 
    print("THANKYOU WE WILL LET U KNOW")

Enter the age of the user 11

THANKYOU WE WILL LET U KNOW

In [26]:
pp=int(input("Enter the price of the product"))
if pp>1000:
    print("The price of the product after the discount is {}".format(pp*0.8))
else:
    print("The price of the product after the discount is {}".format(pp*0.7))

Enter the price of the product 230

The price of the product after the discount is 161.0

In [28]:
#while loop
joining_age=25
i=1
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("RETIREMENT TIME")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
RETIREMENT TIME

In [29]:
total_amount=1000
while total_amount !=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("PUT MORE MONEY BACK")

1000
900
800
700
600
500
400
300
200
100
PUT MORE MONEY BACK

#for loop

In [30]:
lst=["KRISH",1,2,3,4,"apple","banana"]
type(lst)

list

In [31]:
lst[0]

'KRISH'

In [32]:
for x in lst:
    print(x)

KRISH
1
2
3
4
apple
banana

In [36]:
fruits_list=["MANGO","CHERRY","APPLE","PAPAYA","BANANA"]
for a in fruits_list:
    print(a,end='')
    
    if a=="CHERRY":
        print("The fruit is Cherry")

MANGOCHERRYThe fruit is Cherry
APPLEPAPAYABANANA

In [1]:
fruit='mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [2]:
fruit[0]

'm'

In [3]:
fruit='mango'
for x in fruit:
    print(x,end='')

mango

In [9]:
###NESTED LOOPS
n=7
for i in range(1,n):
    for j in range(1,i+1):
        print('*',end='')
    print("\r")
    #\n gives skips one line and stuff

*
**
***
****
*****
******

In [5]:
for i in range(1,6,2):
    print(i)

1
3
5

In [ ]:
'''
equilateral triangle
'''

In [10]:
#LOOP CONTROLS
#BREAK CONTINUUE

In [12]:
fruits_list=["MANGO","BANANA","APPLE","PINEAPPLE"]
for x in fruits_list:
    if x=="APPLE":
        print("THE FRUIT IS APPLE")
    print(x)

MANGO
BANANA
THE FRUIT IS APPLE
APPLE
PINEAPPLE

In [13]:
fruits_list=["MANGO","BANANA","APPLE","PINEAPPLE"]
for x in fruits_list:
    if x=="APPLE":
        print("THE FRUIT IS APPLE")
        continue
    print(x)

MANGO
BANANA
THE FRUIT IS APPLE
PINEAPPLE

In [14]:
fruits_list=["MANGO","BANANA","APPLE","PINEAPPLE"]
for x in fruits_list:
    if x=="APPLE":
        print("THE FRUIT IS APPLE")
        pass
    print(x)

MANGO
BANANA
THE FRUIT IS APPLE
APPLE
PINEAPPLE

In [15]:
fruits_list=["MANGO","BANANA","APPLE","PINEAPPLE"]
for x in fruits_list:
    if x=="APPLE":
        print("THE FRUIT IS APPLE")
        break
    print(x)

MANGO
BANANA
THE FRUIT IS APPLE

In [16]:
for i in range(n):
    for j in range(1,i+1):
        print('*',end='')
    print("\r")

*
**
***
****
*****
******

In [17]:
for i in range(1,n):
    for j in range(1,i+1):
        print('*',end='')
    print("\r")

*
**
***
****
*****
******